In [22]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

In [4]:
df=pd.read_csv('/content/top_insta_influencers_data.csv')
df

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country
0,1,cristiano,92,3.3k,475.8m,8.7m,1.39%,6.5m,29.0b,Spain
1,2,kyliejenner,91,6.9k,366.2m,8.3m,1.62%,5.9m,57.4b,United States
2,3,leomessi,90,0.89k,357.3m,6.8m,1.24%,4.4m,6.0b,NaN
3,4,selenagomez,93,1.8k,342.7m,6.2m,0.97%,3.3m,11.5b,United States
4,5,therock,91,6.8k,334.1m,1.9m,0.20%,665.3k,12.5b,United States
...,...,...,...,...,...,...,...,...,...,...
195,196,iambeckyg,71,2.3k,33.2m,623.8k,1.40%,464.7k,1.4b,United States
196,197,nancyajram,81,3.8k,33.2m,390.4k,0.64%,208.0k,1.5b,France
197,198,luansantana,79,0.77k,33.2m,193.3k,0.26%,82.6k,149.2m,Brazil
198,199,nickjonas,78,2.3k,33.0m,719.6k,1.42%,467.7k,1.7b,United States
199,200,raisa6690,80,4.2k,32.8m,232.2k,0.30%,97.4k,969.1m,Indonesia

NULL HYPOTHESIS:There is no relation between gender and country

ALTERNATE HYPOTHESIS:There is significant relation between gender and country

In [5]:
df.shape

(200, 10)

In [6]:
df=df.dropna()
df.shape

(138, 10)

In [9]:
df['Gender']=''

<ipython-input-9-fc409fc4a6e6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender']=''

In [13]:
import numpy as np
s=np.random.choice([0, 1],size=138)
s

array([0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 1, 0])

In [14]:
df['Gender']=s

<ipython-input-14-fbc27b3b650f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender']=s

In [15]:
#0 female
#1 male
df

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country,Gender
0,1,cristiano,92,3.3k,475.8m,8.7m,1.39%,6.5m,29.0b,Spain,0
1,2,kyliejenner,91,6.9k,366.2m,8.3m,1.62%,5.9m,57.4b,United States,1
3,4,selenagomez,93,1.8k,342.7m,6.2m,0.97%,3.3m,11.5b,United States,0
4,5,therock,91,6.8k,334.1m,1.9m,0.20%,665.3k,12.5b,United States,0
5,6,kimkardashian,91,5.6k,329.2m,3.5m,0.88%,2.9m,19.9b,United States,0
...,...,...,...,...,...,...,...,...,...,...,...
195,196,iambeckyg,71,2.3k,33.2m,623.8k,1.40%,464.7k,1.4b,United States,0
196,197,nancyajram,81,3.8k,33.2m,390.4k,0.64%,208.0k,1.5b,France,1
197,198,luansantana,79,0.77k,33.2m,193.3k,0.26%,82.6k,149.2m,Brazil,0
198,199,nickjonas,78,2.3k,33.0m,719.6k,1.42%,467.7k,1.7b,United States,1
199,200,raisa6690,80,4.2k,32.8m,232.2k,0.30%,97.4k,969.1m,Indonesia,0

In [16]:
rows=df.shape[0]

In [17]:
rows

138

In [18]:
cols=df.shape[1]

In [19]:
cols

11

In [20]:
dof=(rows-1)*(cols-1)

In [21]:
dof

1370

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 0 to 199
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rank               138 non-null    int64
 1   channel_info       138 non-null    object
 2   influence_score    138 non-null    int64
 3   posts              138 non-null    object
 4   followers          138 non-null    object
 5   avg_likes          138 non-null    object
 6   60_day_eng_rate    138 non-null    object
 7   new_post_avg_like  138 non-null    object
 8   total_likes        138 non-null    object
 9   country            138 non-null    object
 10  Gender             138 non-null    int64
dtypes: int64(3), object(8)
memory usage: 12.9+ KB

In [58]:
gender_table=df.groupby("country")
#gender_table[gender_table["Gender"] == 1]
gender_table["Gender"].count()

country
Anguilla                   1
Australia                  1
Brazil                    13
British Virgin Islands     1
Canada                     3
Colombia                   3
Czech Republic             1
CÃ´te d'Ivoire             1
France                     6
Germany                    1
India                     12
Indonesia                  7
Italy                      1
Mexico                     2
Netherlands                2
Puerto Rico                1
Russia                     1
Spain                      5
Sweden                     1
Switzerland                1
Turkey                     2
United Arab Emirates       1
United Kingdom             4
United States             66
Uruguay                    1
Name: Gender, dtype: int64

In [75]:
country_df = df[(df['country'] == 'Brazil') | (df['country'] == 'India') | (df['country'] == 'United States')]
country_df.drop(["rank", "channel_info", "influence_score", "posts", "followers", "avg_likes", "60_day_eng_rate", "new_post_avg_like", "total_likes"], inplace=True, axis=1)
country_df

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

           country  Gender
1    United States       1
3    United States       0
4    United States       0
5    United States       0
6    United States       1
..             ...     ...
189  United States       0
194          India       0
195  United States       0
197         Brazil       0
198  United States       1

[91 rows x 2 columns]

In [86]:
country_df[country_df["country"] == "Brazil"].groupby("Gender").count()

        country
Gender
0             6
1             7

In [87]:
country_df[country_df["country"] == "India"].groupby("Gender").count()

        country
Gender
0             7
1             5

In [88]:
country_df[country_df["country"] == "United States"].groupby("Gender").count()

        country
Gender
0            34
1            32

In [89]:
data=[[6,7,34],[7,5,32]]

In [91]:
stat, p, dof, expected = chi2_contingency(data)
p

0.8301216402545908

In [92]:
alpha = 0.05

In [93]:
if p <= alpha:
    print('REJECT NULL HYPOTHESIS')
else:
    print('FAIL TO REJECT NULL HYPOTHESIS')

FAIL TO REJECT NULL HYPOTHESIS

CONCLUSION: Since the obtained value of p is greater than the alpha value we fail to reject the NULL hypothesis and conclude that gender and country is related